.main {
  width: 100%;
  background-color: aqua;
  height: 1000px;
  margin: 30px;
  padding: 10px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: magenta;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: red;
}
